body 
{
   background-color:#669933;
   font: 400 14px/1.4 'Cutive', helvetica, Verdana, Arial, sans-serif; 
}

.container 
{
    width:1080px;
    margin:0 auto;
    padding:10px;
    border:5px sloid #eee;
    background-color:#eee;
}

.header
{
    height:200px;
    border:1px solid #eee;
    background-image:url(../Image/leaf.jpg);
}

#nav 
{
    list-style:none;
    width:100%;
}

#nav ul
{
    list-style:none;
    margin:0;
    padding:0;
    display:none;
}

#nav li
{
    font-size:30px;
    font-family:'Cutive', helvetica, Verdana, Arial, sans-serif;
    float:left;
    display:block;
    position:relative;
    width:180px;
    height:50px;
    pading:3px;
}

#nav li a 
{
    background-color: #66cc66;
    color:#eee;
    border: 1px solid;
	border-color: #eee;
    display:block;
    font: 400 20px/1.4 'Cutive', helvetica, Verdana, Arial, sans-serif;
    text-align:center;
    text-decoration:none;
    padding:5px;  
}

#nav a:link, #nav a:active, #nav a:visited
{
    display:block;
    color:;
    text-decoration:none;
}

#nav a:hover
{
    background-color:#339933;
}

#categorieen
{
    list-style:none;
    margin:10px 0 0 0;
    padding:0;
}

#categorieen ul {
	position: absolute;
	overflow: hidden;
	list-style: none;
    display:none
}

#categorieen li
{
    margin:3px;
}

#categorieen li a
{
	background:#339933;
	border:1px solid;
	border-bottom-left-radius:20px;
	border-top-left-radius:20px;
	border-color:#eee;
	color:#eee;
	display:block;
	float:none;
	padding:10px;
	font: 400 20px/1.4 'Cutive', helvetica, Verdana, Arial, sans-serif;
	text-align:center;
	text-decoration:none;
	width:150px;
}

#categorieen li a:hover {
	background:#66cc66;
}


.content 
{
    float:right;
    width:750px;
    border:1px solid #eee;
    border-radius:5px;
    margin:20px 0 20px 0;
    padding:10px;
}

#slider
{
    border-style:solid;
    border-color:#dcdcdc;
    border-radius:5px;
    border-width:thin;
    text-align:center;
    height:auto;
}

#imgslider
{
    padding:3px;
}

#ProductenContent
{
    border-style:solid;
    border-color:#dcdcdc;
    border-radius:5px;
    border-width:thin;
    text-align:center;
    height:auto;
    margin-top:20px;
}

#ProductDetails
{
    border-style:solid;
    border-color:#dcdcdc;
    border-radius:5px;
    border-width:thin;
    height:auto;
}


#product_p
{
    text-align:center;
}

#ProductenContent
{
    border-style:solid;
    border-color:#dcdcdc;
    border-radius:5px;
    border-width:thin;
    height:auto;
    margin-top:20px;
}

#ProductenContent
{
    text-align:center;
}

#slider2
{
    border-style:solid;
    border-color:#dcdcdc;
    border-width:thin;
    border-radius:5px;
    height:auto;
    margin-top:20px;
}

#slider2
{
    text-align:center;
}

#catagorie
{
    border-style:solid;
    border-color:#dcdcdc;
    border-radius:5px;
    border-width:thin;
    height:auto;
}

#catagorie p
{
    text-align:center;
}

#catagorie_producten
{
    border-style:solid;
    border-color:#dcdcdc;
    border-radius:5px;
    border-width:thin;
    height:auto;
    margin-top:20px;
}

#catagorie_producten p
{
    text-align:center;
}

#catagorie_producten img
{
    padding:5px;
}

.sidebar
{
    float:right;
    width:250px;
    height:400px;
    margin:20px 10px 20px 10px;
    border:1px solid #eee;
}

.footer
{
    clear:both;
    width:auto;
    height:50px;
    margin-top:20px;
    background-color:#66cc33;
    text-align:center;
    color:#eee;
}